%nav.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  = smart_container do
    .navbar-header
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"} }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Kollecto Survey Builder", root_path, class: "navbar-brand"
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            = link_to '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do
              = current_user.first_name
              %span.glyphicon.glyphicon-user
              - if current_user.google_auth_active?
                %span.fa.fa-google
              - if current_user.admin?
                %span.fa.fa-bolt
              %span.caret
            %ul.dropdown-menu.main-nav-dropdown{:role => 'menu'}
              - if current_user.admin?
                %li.dropdown-header{:role => 'presentation'} Analysis Tools
                = active_link_to 'Survey Submissions', admin_survey_submissions_path, :wrap_tag => :li
                %li.divider
                %li.dropdown-header{:role => 'presentation'} Management Tools
                = active_link_to 'Survey Management', admin_survey_iterations_path, :wrap_tag => :li, :active => !(params[:controller] =~ /^admin\/survey_(?!(submissions))/).nil?
                = active_link_to 'User Management', admin_users_path, :wrap_tag => :li
                %li.divider
              %li.dropdown-header{:role => 'presentation'} Your Account
              = active_link_to 'Edit Profile', edit_user_registration_path, :wrap_tag => :li
              - if current_user.google_auth_active?
                = active_link_to 'Sign Out of Google', google_auth_signout_path, :method => :delete, :wrap_tag => :li
              = active_link_to 'Sign Out', destroy_user_session_path, :method => :delete, :wrap_tag => :li
        - else
          = active_link_to 'Sign In', new_user_session_path, :wrap_tag => :li
          -# = active_link_to 'Sign Up', new_user_registration_path, :wrap_tag => :li
