%tr
  %td= render 'admin/survey_iterations/details_cell', :iteration => si
  %td.text-center
    - if si.published_to_sg?
      = link_to [:delete_from_sg, :admin, si], method: :post,
        title: 'Delete from Survey Gizmo', data: {confirm: 'Are you sure?'},
        class: 'btn btn-xs btn-default has-tooltip delete-from-sg-btn' do
        %span.fa.fa-undo
    - else
      = link_to [:publish_to_sg, :admin, si], title: 'Publish to Survey Gizmo',
        class: 'btn btn-xs btn-default has-tooltip publish-to-sg-btn',
        method: :post, :data => {:confirm => 'Are you sure?'} do
        %span.glyphicon.glyphicon-send
    = link_to [:edit, :admin, si], title: 'Edit Iteration',
      class: 'btn btn-xs btn-default has-tooltip edit-btn' do
      %span.glyphicon.glyphicon-edit
    = link_to [:admin, si], title: 'Delete Iteration', method: :delete,
      class: 'btn btn-xs btn-default has-tooltip delete-btn',
      data: { confirm: 'Are you sure?' } do
      %span.glyphicon.glyphicon-trash
