= admin_frame do
  .page-header
    %h1
      = link_to @survey_iteration.title, [:admin, @survey_iteration]
      %br
      %small
        = survey_iteration_gd_status_label @survey_iteration
        = survey_iteration_sg_status_label @survey_iteration

  - if @pages.any?
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = link_to "Pages (#{@survey_iteration.survey_pages.count} total)",
                           [ :admin, @survey_iteration, :survey_pages ]
      .panel-body{:style => 'padding-bottom:0'}
        = render 'admin/survey_pages/table', :survey_pages => @pages
  - else
    .jumbotron.text-center
      %h1 Nothing to display.
      %p This iteration has no pages yet.

  - if @questions.any?
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = link_to "Questions (#{@survey_iteration.survey_questions.count} total)",
                                [ :admin, @survey_iteration, :survey_questions ]
      .panel-body{:style => 'padding-bottom:0'}
        = render 'admin/survey_questions/table', :survey_questions => @questions
  - else
    .jumbotron.text-center
      %h1 Nothing to display.
      %p This iteration has no questions yet.
