= admin_frame do
  .page-header
    %h1
      = link_to @iteration.title, [:admin, @iteration]
      %br
      %small
        Page
        = @survey_page.title.html_safe
        -# = survey_iteration_gd_status_label @survey_iteration
        -# = survey_iteration_sg_status_label @survey_iteration

  .text-center= @survey_page.description.html_safe
  %hr

  - if @questions.any?
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          = link_to "Questions (#{@survey_page.survey_questions.count} total)",
                                [ :admin, @survey_page, :survey_questions ]
      .panel-body{:style => 'padding-bottom:0'}
        = render 'admin/survey_questions/table', :survey_questions => @questions
  - else
    .jumbotron.text-center
      %h1 Nothing to display.
      %p This page has no questions yet.
