!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Kollecto SG Survey Builder

    = stylesheet_link_tag      'application', media: 'all'
    - if content_for? :header_css
      = content_for :header_css

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
    = javascript_include_tag "https://js.stripe.com/v2/"
    :javascript
      var stripe_pk = '#{Rails.application.secrets.stripe_publishable_key}';
      Stripe.setPublishableKey(stripe_pk);
    = javascript_include_tag   'application'
    - if content_for? :header_js
      = content_for :header_js

    = csrf_meta_tags
  %body
    = render 'shared/main_nav'
    - if content_for? :before_container
      = content_for :before_container
    = smart_container do
      = render_flash_messages :style => 'margin-top: 15px'
      = yield
    - if content_for? :after_container
      = content_for :after_container
